name: glak

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: glak
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - genesis-network

  nginx:
    image: nginx:alpine
    container_name: glak-nginx
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - genesis-network

networks:
  genesis-network:
    driver: bridge

